.Quiz {
  &-Message,
  &-Timer {
    margin-top: 5px;
    text-align: center;
    width: 100%;
    font-size: 30px;
    color: black;
  }

  &-Button {
    display: inline-block;
    cursor: pointer;
    margin: auto;
    display: flex;
    text-align: center;
    padding: 0.3em 1.2em;
    border-radius: 2em;
    margin-bottom: 50px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    background-color: #4eb5f1;
    transition: all 0.2s;
  }

  &-Button:hover {
    background-color: #4095c6;
  }

  @media all and (max-width: 30em) {
    &-Button {
      display: block;
      margin: 0.2em auto;
    }
  }
}